.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
.subscribe{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.subscribe:hover{
  font-style: italic;
}