.header {
  margin-bottom: -10px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h2{
  margin-top: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
}
.header h6{
  margin: 0;
  background-color: var(--green);
  padding: 4px 4px;
  border-radius: 10px;
}