.boxmain{
  width: 230px;
}

.boxmain:hover{
  filter: drop-shadow(0 0 1em #000000);
}

.customButton{
  border-top: 2px solid rgb(211, 211, 211);
  transition: border-top 1s border 1s;
}

.customButton:hover{
  border-top: 0px solid rgb(139, 139, 139);
}