.thumbnail{
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  filter: blur(1px);
  position: absolute;
}

.overlay{
  position: relative;
  width: 230px;
  height: 130px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border: 2px solid white;
  margin-top: 10px;
}

.ytp-button{
  position: absolute;
  top: 0%;
  left: 35%;
  z-index: 1;
}